* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    user-select: none;
    /* background-color: rgb(40, 40, 40); */
}

#indexbody {
    background-color: rgb(40, 40, 40);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

#menybody {
    background-color: rgb(32, 8, 8);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

#hem {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: rgb(32, 8, 8);
}

#list_gridwrapper {
    width: 1fr;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
    list-style-type: none;
    background-color: rgb(32, 8, 8);
}

#stickymeny {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.list_item {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 90vw;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
    user-select: none;
}

.list_item:hover {
    background-color: rgba(20, 20, 20, 0.3);
    cursor: pointer;
}

.sections {
    height: 75vh;
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15rem;
    background-color: rgb(32, 8, 8);
}

.sectiontext {
    width: 15rem;
    background-color: transparent;
}

#boka {
    margin-bottom: 12.5vh;
}


header {
    background-color: transparent;
}

h2 {
    background-color: transparent;
}

a {
    background-color: transparent;
    text-decoration: none;
}

#meny {
    height: 50vh;
    width: 70vw;
    gap: 20px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'as bc'
    'we rt'
    ;
}

#menybox1 {
    grid-area: as;
    background-color: rgb(60, 20, 20);
    border-radius: 25px;
}

#menybox2 {
    grid-area: bc;
    background-color: rgb(60, 20, 20);
    border-radius: 25px;
}

#menybox3 {
    grid-area: we;
    background-color: rgb(60, 20, 20);
    border-radius: 25px;
}

#menybox4 {
    grid-area: rt;
    background-color: rgb(60, 20, 20);
    border-radius: 25px;
}

#menygridwrap {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menyboxar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

#faq {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15rem;
    background-color: rgb(32, 8, 8);
}

body {
    background-image: url("../img/Black-stones.jpg");
}